@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
  font-family: 'Varela Round', sans-serif;
}

html,body {
  background: #030321;
}

svg {
    display: block;
    font: 500% 'Varela Round', sans-serif;
    width: 960px;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.425);
    height: 300px;
    margin: 0 auto;
    position: relative;
    left: -25%;
}

@media screen and (min-width: 915px){
  svg {
    display: block;
    font: 600% 'Varela Round', sans-serif;
    width: 960px;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.425);
    height: 300px;
    margin: 0 auto;
    position: relative;
    left: 10%;
  }.logo{
    display: none;
  }
}
@media screen and (max-width: 914px){
  svg {
    display: none;
  }
  .logo{
    display: block;
    width: 20%;
    position: relative;
    left: 40%;
  }
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #4D163D;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #840037;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #BD0034;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #BD0034;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #FDB731;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 80vw;
    margin: 0 auto;
    min-height: 100vh;
  }
  .btn {
    flex: 1 1 auto;
    margin: 10px;
    padding: 30px;
    width: 80%;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
   /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    cursor: pointer;
   }
  
  /* Demo Stuff End -> */
  
  /* <- Magic Stuff Start */
  
  .btn:hover {
    background-position: right center; /* change the direction of the change here */
  }
  
  .btn-1 {
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
  }
  
  .btn-2 {
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
  }
  